<html>
<head>
<title>[% c.appname | html %]</title>
<style>
form {
  padding: 10px;
  border: 1px solid black;
}
</style>
</head>
<body>

<header>
<h1>Hello [% c.appname | html %]!</h1>
</header>

<nav>
<p><a href="/logout">logout</a></p>
<p><a href="/login/twitter/oauth">connect with twitter</a></p>
<p><a href="/login/facebook/oauth">connect with facebook</a></p>
<p><a href="/login/dropbox/oauth">connect with dropbox</a></p>

<form action="/login/openid/auth" method="post">
url: <input type="text" name="openid.identifier" value="">
<input type="submit" name="button" value="connect with OpenID">
</form>

<form action="/login/openid/auth" method="post">
<input type="hidden" name="openid.identifier" value="https://auth.livedoor.com/openid/server">
<input type="submit" name="button" value="connect with OpenID (livedoor)">
</form>

<form action="/login/openid/auth" method="post">
id: <input type="text" name="hatena_id" value="">
<input type="hidden" name="op" value="hatena">
<input type="submit" name="button" value="connect with OpenID (hatena)">
</form>

<form action="/login/openid/auth" method="post">
<input type="hidden" name="op" value="google">
<div>get email: <input type="checkbox" name="openid.ax.required" value="email"></div>
<div>get first name: <input type="checkbox" name="openid.ax.required" value="firstname"></div>
<div>get last name: <input type="checkbox" name="openid.ax.required" value="lastname"></div>
<div>get country: <input type="checkbox" name="openid.ax.required" value="country"></div>
<div>get language: <input type="checkbox" name="openid.ax.required" value="language"></div>
<div><input type="submit" name="button" value="connect with google"></div>
</form>

</nav>
<hr>

[% IF　openid_account %]
<h2>OpenID</h2>
<pre>[% to_json(openid_account.vident) %]</pre>
<hr>
[% END %]

[% IF　tw_account %]
<h2>Twitter</h2>
<pre>[% to_json(tw_account) %]</pre>
<hr>
[% END %]

[% IF　fb_account %]
<h2>Facebook</h2>
<pre>[% to_json(fb_account) %]</pre>
<hr>
[% END %]

[% IF　dropbox_account %]
<h2>Dropbox</h2>
<pre>[% to_json(dropbox_account) %]</pre>
<hr>
[% END %]

</body>
</html>
